<div class="container">
    <section class="poster">
        <article>
            <img src="<%= @song_data[:cover] %>" alt="" srcset="">
        </article>
    </section>
    <section class="details">
        <article class="title">
            <h1><%= @song_data[:title] %></h1>            
        </article>
        <article class="plot">
            <video controls="" autoplay="" name="media">
                <source src="<%= @song_data[:preview] %>" type="audio/mpeg">
                </video>
            <p><%= @song_data[:preview] %></p>
            <p><span class="credentials">artist_name: </span><%= @song_data[:artist_name] %></p>
            <p><span class="credentials">album_title: </span><%= @song_data[:album_title] %></p>
            <p><span class="credentials">link: </span><%= @song_data[:link] %></p>
        </article>  
        <!-- <% if @song_data[:cached] %>
            <p class="out-of"><%= @song_data[:cached] %></p>      
        <% end %> -->
        <article class="back-to-search-results">
            <a class="link-as-btn" href="/songs?search_term=<%= @song_data[:search_term] %>">BACK TO SEARCH RESULTS</a>
            <% if @in_list %>
                <p>This song is already in the list.
                    <% if !@own_song && !@voted %>
                        Would you like to <a href='/vote/<%= @in_list["id"] %>'>vote</a> for it?
                    <% end %>
                </p>
            <% else %>
                <form action="/song" method="post">
                    <input type="hidden" name="search_term" value="<%= @song_data[:search_term] %>">
                    <input type="hidden" name="title" value="<%= @song_data[:title] %>">
                    <input type="hidden" name="artist_name" value="<%= @song_data[:artist_name] %>">
                    <input type="hidden" name="album_title" value="<%= @song_data[:album_title] %>">
                    <input type="hidden" name="cover" value="<%= @song_data[:cover] %>">
                    <input type="hidden" name="preview" value="<%= @song_data[:preview] %>">
                    <input type="hidden" name="link" value="<%= @song_data[:link] %>">
                    <button>ADD TO WEEKLY SONGS LIST</button>
                </form>
            <% end %>
        </article>
    </section>
</div>

 